// Header section

header {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    @media screen and (max-width: 1024px) {
      padding: 0 60px;
    }
    @media screen and (max-width: 768px) {
      padding: 0 32px;
    }
    @media screen and (max-width: 400px) {
      justify-items: normal;
      padding: 0 16px;
    }
  }
  .buttons {
    display: flex;
  }
  .btn:not(:last-child) {
    margin-right: 10px;
  }
}
.logo {
  width: 104px;
  height: 26px;
}

// About section

.about {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("~/assets/images/pexels-alexandr-podvalny-1227513.jpeg") no-repeat;
  background-size: cover;
  min-height: 650px;
  display: flex;
  justify-items: center;
  align-items: center;
  margin-bottom: 140px;
  @media screen and (max-width: 768px) {
    min-height: 500px;
  }
  &__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 380px;
    justify-content: center;

  }
  h1 {
    color: var(--text-second);
    margin-bottom: 21px;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
  }
  p {
    color: var(--text-second);
    margin-bottom: 32px;
    text-align: center;
  }
  button {
    max-width: 100px;
    margin: 0 auto;
  }
}

// Squad section

.squad {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 140px;
  .wrapper {
    @media screen and (max-width: 400px) {
      padding: 0 16px;
    }
  }
  &__cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(370px,1fr));
    grid-gap: 29px;
    margin: 50px 0;
    position: relative;
    //@include table {
    //  grid-template-columns: repeat(auto-fill,minmax(282px,1fr));
    //}
    @media screen and (max-width: 1168px) {
      grid-template-columns: repeat(auto-fill,minmax(282px,1fr));
    }
    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(auto-fill,minmax(282px,1fr));
    }
    @media screen and (max-width: 768px) {

    }
    @media screen and (max-width: 360px) {

    }
  }
  &__cards.active {
    display: flex;
    justify-content: center;
  }
}

// Feedback section

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  .wrapper {
    @media screen and (max-width: 400px) {
      padding: 0 16px;
    }
  }
  &__form {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__wrap {
    position: relative;
  }
  &__radio {
    display: flex;
    flex-direction: column;
    margin-bottom: 47px;
    p {
      margin-bottom: 11px;
    }
  }
  &__inner {
    display: flex;
    align-items: center;
  }
  &__inner:not(:last-child) {
    margin-bottom: 7px;
  }
  &__upload {
    display: flex;
    div {
      display: flex;
      align-items: center;
      height: 54px;
      border: 1px solid var(--br-main);
      border-radius: 4px;
      padding-left: 16px;
      background-color: var(--bg-main);
      min-width: calc(380px - 83px);
      border-left: none;
      @media screen and (max-width: 400px) {
        min-width: calc(328px - 83px);
      }
    }
  }
  .radio {
    margin-right: 12px;
  }
  .label {
    position: absolute;
    padding: 0 4px;
    left: 16px;
    top: -7%
  }
}
