:root {
  /* fonts */
  --font-family: 'Nunito', sans-serif;

  /* bg colors */
  --bg-main: #F8F8F8;
  --bg-second: #FFFFFF;
  --bg-third: #000000DE;


  /* colors */
  --primary: #F4E041;
  --primary-hover: #FFE302;
  --secondary: #00BDD3;
  --disabled: #B4B4B4;

  /* text colors */
  --text-main: #000000DE;
  --text-second: #FFFFFF;
  --text-third: #7E7E7E;


  /* borders colors */

  --br-main: #D0CFCF;
  --br-second: #000000DE;
}
